{% extends 'layouts/base.twig' %}

{% block body %}
{#    <div class="reveal">#}
{#        <a href="{{ site.url }}" class="page-back reveal-1">Back</a>#}
{#        #}{#    <pre>#}
{#        #}{#        {{ dump(post.meta('post_excerpt')) }}#}
{#        #}{#        {{ dump(post) }}#}
{#        #}{#    </pre>#}
{#        <h1 class="page-title reveal-2">{{ post.title }}</h1>#}
{#        <div class="container">#}
{#            <div class="case-study-intro">#}
{#                <div>#}
{#                    <h2 class="h2 mb-3 reveal-3">Overview</h2>#}
{#                    {{ post.post_excerpt }}#}
{#                    <img src="{{ post.thumbnail.src('full') }}" alt="">#}
{#                </div>#}
{#                <div>#}
{#                    <h2 class="h2 mb-3 reveal-3">Role</h2>#}
{#                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad maiores nisi repellat voluptatibus.#}
{#                        Amet corporis dolores ipsam molestiae nisi placeat quia quidem ullam? Beatae cumque illo laboriosam#}
{#                        quod repellat ullam!</p>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
    <a href="{{ site.url }}" class="page-back">Back</a>
    {#    <pre>#}
    {#        {{ dump(post.meta('post_excerpt')) }}#}
    {#        {{ dump(post) }}#}
    {#    </pre>#}
    <h1 class="page-title">{{ post.title }}</h1>
    <div class="container">
        <div class="case-study-intro">
            <div>
                <h2 class="h2 mb-3">Overview</h2>
                {{ post.post_excerpt }}
                <a href="#" class="js-flip" id="case-study-1-image">
                    <img src="{{ post.thumbnail.src('full') }}" alt="">
                </a>
            </div>
            <div>
                <h2 class="h2 mb-3">Role</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad maiores nisi repellat voluptatibus.
                    Amet corporis dolores ipsam molestiae nisi placeat quia quidem ullam? Beatae cumque illo laboriosam
                    quod repellat ullam!</p>
            </div>
        </div>
    </div>
    <div class="bloc is-black">
        <div class="container">
            <div class="grid2">
                <div>
                    <h2 class="h3 mb-3">consectetur adipisicing elit.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur ducimus eum vero. Ipsam
                        necessitatibus
                        provident quaerat qui sit. At, ipsa maxime. Consequatur, libero natus nemo praesentium quaerat
                        quia ratione
                        vel!
                    </p>
                </div>
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur ducimus eum vero. Ipsam
                        necessitatibus
                        provident quaerat qui sit. At, ipsa maxime. Consequatur, libero natus nemo praesentium quaerat
                        quia ratione
                        vel!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="bloc">
        <div class="container">
            <div class="grid2">
                <div>
                    <h3>1. At, ipsa maxime</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem est, non. Aperiam assumenda
                        delectus dolores
                        earum enim illo laborum magnam maxime omnis perferendis porro, possimus quia quos reiciendis
                        sequi tempora.
                    </p>
                </div>
                <div>
                    <h3>2. At, ipsa maxime</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem est, non. Aperiam assumenda
                        delectus dolores
                        earum enim illo laborum magnam maxime omnis perferendis porro, possimus quia quos reiciendis
                        sequi tempora.
                    </p>
                </div>
                <div>
                    <h3>3. At, ipsa maxime</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem est, non. Aperiam assumenda
                        delectus dolores
                        earum enim illo laborum magnam maxime omnis perferendis porro, possimus quia quos reiciendis
                        sequi tempora.
                    </p>
                </div>
                <div>
                    <h3>4. At, ipsa maxime</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem est, non. Aperiam assumenda
                        delectus dolores
                        earum enim illo laborum magnam maxime omnis perferendis porro, possimus quia quos reiciendis
                        sequi tempora.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="bloc">
        <div class="container">
            <a href="#">
                <img class="case-study-thumbnail" src="https://picsum.photos/id/237/200/200" alt="">
            </a>
        </div>
    </div>
    <div class="bloc">
        <div class="container">
            <div class="case-study case-study-center">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores culpa dicta dolorem ducimus
                    iusto
                    mollitia numquam qui repellendus sequi ut. Amet itaque nesciunt quos voluptate. Autem dolor
                    dolorem enim nesciunt?
                </p>
                <ul>
                    <li>repellendus sequi</li>
                    <li>Amet itaque</li>
                    <li>quos voluptate</li>
                    <li>dolorem enim</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bloc">
        <div class="container">
            <a href="#">
                <img class="case-study-thumbnail" src="https://picsum.photos/id/239/200/200" alt="">
            </a>
        </div>
    </div>
    <div class="bloc is-grey">
        <div class="container">
            <div class="grid2">
                <div>
                    <h2 class="h3 mb-3">consectetur adipisicing elit.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur ducimus eum vero. Ipsam
                        necessitatibus
                        provident quaerat qui sit. At, ipsa maxime. Consequatur, libero natus nemo praesentium quaerat
                        quia ratione
                        vel!
                    </p>
                </div>
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur ducimus eum vero. Ipsam
                        necessitatibus
                        provident quaerat qui sit. At, ipsa maxime. Consequatur, libero natus nemo praesentium quaerat
                        quia ratione
                        vel!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="bloc is-grey">
        <div class="container">
            <div class="grid2">
                <div class="formatted">
                    <h2 class="h3 mb-3">consectetur.</h2>
                    <ul>
                        <li>repellendus sequi</li>
                        <li>Amet itaque</li>
                        <li>quos voluptate</li>
                        <li>dolorem enim</li>
                    </ul>
                </div>
                <div class="formatted">
                    <div class="text-pivoted">
                        <p>Wonderfull</p>
                    </div>
                    <h2 class="h3 mb-3">elit.</h2>
                    <ul>
                        <li>repellendus sequi</li>
                        <li>Amet itaque</li>
                        <li>quos voluptate</li>
                        <li>dolorem enim</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bloc">
        <div class="mosaic container">
            <div class="mosaic__body">
                <div class="mosaic__title">
                    <h2>sit amet</h2>
                </div>
                <div class="formatted">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias atque dolores ea error ex illo
                        ipsam laboriosam, magni modi obcaecati odio porro quae quasi rem reprehenderit totam voluptas.
                        Facilis, quod.
                    </p>
                </div>
            </div>
            <a class="mosaic__tall" href="#">
                <picture>
                    <source media="(max-width: 500px)" srcset="https://picsum.photos/id/249/286/286">
                    <source media="(max-width: 750px)" srcset="https://picsum.photos/id/249/386/386">
                    <img src="https://picsum.photos/id/249/486/616" alt="">
                </picture>
            </a>
            <a class="mosaic__square" href="#">
                <picture>
                    <source media="(max-width: 500px)" srcset="https://picsum.photos/id/242/286/286">
                    <source media="(max-width: 750px)" srcset="https://picsum.photos/id/242/386/386">
                    <img src="https://picsum.photos/id/242/486/486" alt="">
                </picture>
            </a>
        </div>
    </div>

    {#    {% include 'partials/bloc-intro-homepage.twig' %}#}
{% endblock %}
