{#<pre>#}
{#    {{ dump(post.terms('case-study-type')) }}#}
{#    {{ dump(items.terms('case-study-type')) }}#}
{#    {{ dump(post.item) }}#}
{#        {{ dump(post.terms('case-study-type')) }}#}
{#    {{ dump(function('get_the_terms', item.post.terms, 'case-study-type')) }}#}
{#    {{ dump(post.meta('cases_studies_article_2').term('case-study-type')) }}#}
{#    {{ dump(term.type('case-study-type')) }}#}
{#    {{ dump(Post.Meta('cases_studies_article')) }}#}
{#{{ dump(post.custom.cases_studies_article) }}#}
{#{{ dump(post.meta('list_cases_studies_lien').link) }}#}
{#    {{ dump(post.meta('list_cases_studies_lien')) }}#}
{#{{ dump(post.meta('list_cases_studies_titre_2')) }}#}
{#</pre>#}
{#{{ dump(post.meta('list_cases_studies_image')) }}#}
{#{{ dump(post) }}#}
{% set blocTitleOne = post.meta('list_cases_studies_titre') %}
{% set blocDescriptionOne = post.meta('list_cases_studies_description') %}
{% set blocImgOne = post.meta('list_cases_studies_image') %}
{% set blocLinkOne = post.meta('list_cases_studies_lien') %}

{% set blocTitleTwo = post.meta('list_cases_studies_titre_2') %}
{% set blocDescriptionTwo = post.meta('list_cases_studies_description_2') %}
{% set blocImgTwo = post.meta('list_cases_studies_image_2') %}
{% set blocLinkTwo = post.meta('list_cases_studies_lien_2') %}

<div class="case-studies container">

    <h2 class="case-studies__title" data-rellax-speed="7">
        {{ blocTitleOne  | raw | nl2br }}
        <span class="symbol" aria-hidden="true"></span>
    </h2>
    <div class="case-studies__body">
        <div class="case-studies__content formatted">
            {{ blocDescriptionOne }}
        </div>
        <div class="case-studies__item is-1">
            <div class="case-studies__image">
                <span class="case-studies__type is-1">1| webapp</span>
                <a href="{{ blocLinkOne.link }}" id="case-study-1-image" class="js-flip">
                    <img src="{{ blocImgOne.url }}" alt="{{ blocTitleOne }}">
                </a>
            </div>
            <p>A case study</p>
        </div>
    </div>

    <h2 class="case-studies__title" data-rellax-speed="7">
        {{ blocTitleTwo  | raw | nl2br }}
        <span class="symbol" aria-hidden="true"></span>
    </h2>
    <div class="case-studies__body">
        <div class="case-studies__content formatted">
            {{ blocDescriptionTwo }}
        </div>
        <div class="case-studies__item is-2">
            <div class="case-studies__image">
                <span class="case-studies__type is-2">2| webapp</span>
                <a href="{{ blocLinkTwo.link }}" id="case-study-2-image" class="js-flip">
                    <img src="{{ blocImgTwo.url }}" alt="{{ blocTitleTwo }}">
                </a>
            </div>
            <p>A Workflow</p>
        </div>
    </div>
</div>
